/* GENERAL */

.page-a4 {
  margin: 0 auto;
  padding: 0 2.5cm;
  width: 21cm;
  border-left: 1px dotted #333;
  border-right: 1px dotted #333;
}

.info-by-receiver {
  font-size: 11px;
  margin-top: 1cm;
  text-align: center;
}
.info-by-receiver input {
  max-height: 1rem;
  padding: 0.1rem;
}
.order-heading {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem auto;
}

#table-top, #table-bottom {
  border-collapse: collapse;
  border-spacing: 0 !important;
}
#table-top {
  margin: 0 auto 1rem auto;
  width: 16cm;
}
#table-bottom {
  width: 8.5cm;
  margin: 0;
}

td,
th {
  border: 1px solid #333;
  border-spacing: 0 !important;
}
td.boder-none,
th.border-none {
  border: none;
}

.bottom-container {
  width: 20cm;
  margin: 0;
  text-align: left;
}

.control-cell {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  margin: 0;
  border: 0;
  background-color: #eef;
}

select.control-cell {
  width: 100%;
}

.title-cell {
  font-size: 12px;
  font-weight: bold;
  padding-left: .1rem;
}

.title-cell i {
  font-weight: normal;
  font-size: 11px;
}

/* CUSTOM ELEMENTS STYLES */
/* UTILS */
.align-center {
  text-align: center;
}
.h-full {
  height: 100%;
}
.col-4 {
  width: 33.33333333%;
}
.col-6 {
  width: 50%;
}
.col-8 {
  width: 66.66666667%;
}
.col-12 {
  width: 100%;
}

/* WIDTHS */
.w-5mm { width: 5mm;}
.w-6mm { width: 6mm;}
.w-8mm { width: 8mm;}
.w-9mm { width: 9mm;}
.w-12mm { width: 12mm;}
.w-16mm { width: 16mm;}

.w-05cm {
  width: 0.5cm;
}
.w-1cm {
  width: 1cm;
}
.w-2cm {
  width: 2cm;
}
.w-3cm {
  width: 3cm;
}
.w-4cm {
  width: 4cm;
}
.w-5cm {
  width: 5cm;
}
.w-6cm {
  width: 6cm;
}

.border-bold {
  border: 2px solid #333;
}
.border-none {
  border: none;
}
.bottom-dotted {
  border-bottom: 2px dotted #333;
}