/* COLORS */
:root {
  --text-color: #333;
  --text-color-warning: #e00;
  --border-color: #333;
  --bg-color: #fff;
  --bg-control-color: #eef;
}
  
/* GENERAL */
td, th {
  box-sizing: border-box;
  overflow: auto;
}

.page-a4 {
  color: var(--text-color);
  margin: 0 auto;
  padding: 0;
  width: 21cm;
}

.info-by-receiver {
  font-size: 11px;
  margin-top: 1cm;
  text-align: center;
}
.info-by-receiver input {
  max-height: 1rem;
  padding: 0.1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.order-heading {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem auto;
}

.top-table, .bottom-table {
  border-collapse: collapse;
  border-spacing: 0 !important;
}
.top-table {
  margin: 0 auto 0.25rem auto;
  max-width: 18cm;
}
.bottom-table {
  margin: 0 3mm 0 0;
  display: inline;
}

td,
th {
  border: 1px solid var(--border-color);
  border-spacing: 0 !important;
}
td.border-none,
th.border-none {
  border: none;
}

.bottom-container {
  width: 20cm;
  margin: 0 auto 2rem;
  text-align: left;
}

.control-cell {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  margin: 0;
  border: 0;
  background-color: var(--bg-control-color);
}

select.control-cell {
  width: 100%;
}

.bottom-table .control-cell {
  width: calc(100% - 0.2rem);
  padding: 0.1rem;
  font-size: 14px;
  line-height: 24px;
}

.bottom-table .control-cell.kind-selector {
  font-size: 9px;
  padding: 0.1rem;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.bottom-table select.control-cell {
  width: 100%;
  line-height: 24px;
  padding: 0.3rem 0;
}

textarea.control-cell {
  width: 100%;
  padding: 0;
  margin: 0;
  resize: none;
  border: none;
}

.title-cell {
  font-size: 12px;
  font-weight: bold;
  padding-left: .1rem;
}
.title-cell i {
  font-weight: normal;
  font-size: 11px;
}

.signatures {
  width: 16cm;
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: space-between;
}

.footnotes {
  font-size: 11px;
  margin-top: 1rem;
}

/* CUSTOM ELEMENTS STYLES */
.bottom-table-legend {
  margin: 0.25rem 0;
}

.orderer {
  margin: 1.5rem auto 0.5rem;
  border-collapse: collapse;
}
.orderer textarea {
  padding: 0.1rem;
  width: calc(100% - 0.2rem);
  height: 12mm;
  border: none;
}

/* PADDINGS */
.p-0 { padding: 0; }
.p-01 { padding: 0.1rem; }
.p-02 { padding: 0.2rem; }
.p-03 { padding: 0.3rem; }
.pt-02 { padding-top: 0.2rem; }
.pl-1 { padding-left: 0.1rem; }
.pl-2 { padding-left: 0.2rem; }

/* UTILS */
.text-sm { font-size: 10px; }
.text-xs { font-size: 8px; }
.text-bold { font-weight: bold; }
.text-warning {
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text-color-warning);
  line-height: 10px;
  /* text-decoration: underline; */
}

.align-center { text-align: center; }
.align-right { text-align: right; }
.display-flex { display: flex; }
.justify-between { justify-content: space-between; }
.flex-column { display: flex; flex-direction: column; }
.h-full { height: 100%; }
.h-6mm { height: 6mm; }
.h-7mm { height: 7mm; }
.h-12mm { height: 12mm; }
.h-14mm { height: 14mm; }
.h-70mm { height: 70mm; }

/* WIDTHS */
.col-6 { width: 50%; }
.col-4 { width: 33.33333333%; }
.col-8 { width: 66.66666667%; }
.col-12 { width: 100%; }

.w-5mm { width: 5mm; }
.w-6mm { width: 6mm; }
.w-8mm { width: 8mm; }
.w-9mm { width: 9mm; }
.w-10mm { width: 10mm; }
.w-12mm { width: 12mm; }
.w-16mm { width: 16mm; }
.w-18mm { width: 18mm; }
.w-20mm { width: 20mm; }
.w-30mm { width: 30mm; }
.w-40mm { width: 40mm; }
.w-50mm { width: 50mm; }
.w-60mm { width: 60mm; }
.w-70mm { width: 70mm; }

/* BORDERS */
.border-bold {
  border: 2px solid var(--border-color);
}
.border-none {
  border: none;
}
.bottom-dotted {
  border-bottom: 2px dotted var(--border-color);
}
.hidden { display: none; }